body.game
    h1.game__title The Game of Life
    .game__grid.js-game__grid
    .game__buttons
        button.game__button.game__start-stop.js-game__start-stop Start
        button.game__button.game__one-step.js-game__one-step One step
        button.game__button.game__clear.js-game__clear Clear grid
    .game__settings
        label.game__grid-size Grid size
            input.game__input.game__width-input.js-game__width-input(type="text" value="30")
            input.game__input.game__height-input.js-game__height-input(type="text" value="20")
        label.game__delay Delay
            input.game__input.game__delay-input.js-game__delay-input(type="text" value="200")
