$grey-bb = #bbbbbb
$grey-e5 = #e5e5e5
$grey-ef = #efefef
$grey-88 = #888888
$grey-99 = #999999
$grey-4f = #4f4f4f


$white = #ffffff
$red = #ed2525
$green = #25ed25
$semitransparent-red = rgba(255, 0, 0, 0.1)
$semitransparent-green = rgba(0, 255, 0, 0.1)
$semitransparent-black = rgba(0,0,0,0.5)
