.game
    &__grid-container
        display: inline-block

    &__grid
        display: flex
        flex-wrap: wrap

    &__grid-cell
        box-sizing: border-box
        border: 1px solid #777777

        &_alive
            background-color: #111155
    