.game
    display: flex
    flex-direction: column
    align-items: center

    &__grid-container
        display: inline-block

    &__grid
        display: flex
        flex-wrap: wrap

    &__grid-cell
        box-sizing: border-box
        border: 1px solid #777777

        &_alive
            background-color: #111155
    
    &__buttons
        margin: 15px 0
    
    &__button
        width: 100px 
        height: 40px
        background-color: #e5e5e5
        border: 1px solid #888888
        outline: none

        &:hover
            background-color: #efefef   

    &__one-step
        margin: 0 10px    

    &__settings
        text-align: center
   
    &__grid-size
        display: block 
        margin-bottom: 10px   

    &__input-field
        width: 50px 
        margin-left: 5px
